@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  /* header section  */
  .header_banner {
    padding: 0;
  }
  .header_section .menu ul {
    display: none;
  }
  .header_section .logo {
    width: 75%;
  }
  .header_section .logo img {
    width: 28.724px;
    height: 33.516px;
    flex-shrink: 0;
  }
  .header_section .logo h2 a {
    font-size: 21.5px;
  }
  .header_section .menu {
    width: 20%;
    display: flex;
  }
  .header_section .menu {
    width: 20%;
    display: flex;
  }
  .header_section .menu div {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .header_banner {
    padding: 32px 24px;
  }
  .search_palace {
    margin: 0;
    display: block;
  }
  .search_palace .quary {
    width: 94%;
    margin-bottom: 16px;
  }
  .search_palace .btn_find {
    background: #ff5400;
  }
  .header_banner .discription h1 {
    font-size: 22px;
  }
  .header_banner .discription p {
    font-size: 14px;
    margin-bottom: 40px;
  }
  /* tour section  */
  .popular_section {
  }
  .popular_tour {
    flex-direction: column;
  }
  .popular_tour .tour_discription {
    width: 100%;
    height: 100%;
  }
  .popular_tour .tour_discription h2 {
    font-size: 20px;
  }
  .tour_image {
    width: 100%;
  }
  .beutifull_contry {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 24px;
  }
  .beutifull_contry div img {
    width: 100%;
    height: 176px;
    border-radius: 16px;
    background: linear-gradient(
        0deg,
        rgba(19, 19, 24, 0.2) 0%,
        rgba(19, 19, 24, 0.2) 100%
      ),
      url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
  .beutifull_contry div {
    grid-column: span 12;
  }
  .distination_section .discription h1 {
    font-size: 20px;
  }

  /* services section  */
  .our_services .services {
    display: flex;
    flex-direction: column;
  }
  .our_services .services .service {
    width: 100%;
    padding: 32px;
  }

  /* footer top  */
  .footer_top {
    flex-direction: column;
  }
  .newslatter {
    max-width: 100%;
    width: 100%;
  }
  .footer_botom {
    padding: 32px 0;
  }
}
