@media screen and (max-width: 600px) {
  .container {
    width: 92%;
  }
  /* header section  */
  .header_banner {
    padding: 0;
  }
  .header_section .menu ul {
    display: none;
  }
  .header_section .logo {
    width: 75%;
  }
  .header_section .logo img {
    width: 28.724px;
    height: 33.516px;
    flex-shrink: 0;
  }
  .header_section .logo h2 a {
    font-size:16px;

  }
  .header_section .menu {
    width: 20%;
    display: flex;
  }
  .header_section .menu {
    width: 20%;
    display: flex;
  }
  .header_section .menu div {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .header_banner {
    padding: 32px 24px;
  }
  .discription h1 {
    font-size: 22px;
  }
  .search_palace form {
    margin: 0;
    flex-direction: column;
  }
  .sec-des,
.quary,
.primary_button {
  width: 100%;
  display: block;

  
}

  /* tour section  */
  .popular_section {
  }
  .popular_tour {
    flex-direction: column;
  }
  .popular_tour .tour_discription {
    width: 100%;
    height: 100%;
  }
  .popular_tour .tour_discription h2 {
    font-size: 20px;
  }
  .tour_image {
    width: 100%;
  }
  .beutifull_contry {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 24px;
  }
  .beutifull_contry div img {
    width: 100%;
    height: 176px;
    border-radius: 16px;
    background: linear-gradient(
        0deg,
        rgba(19, 19, 24, 0.2) 0%,
        rgba(19, 19, 24, 0.2) 100%
      ),
      url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
  .beutifull_contry div {
    grid-column: span 12;
  }
  .our_services > .discription h2 {
    font-size: 30px;
}

  /* services section  */
  .our_services {
    margin: 50px auto;
  }
  .our_services .services {
    display: flex;
    flex-direction: column;
  }
  .our_services .services .service {
    width: 100%;
    padding: 32px;
  }
  /* discount section  */
  .discount_area {
    padding: 200px 15px 50px;
   flex-direction: column;
  }
  .discount_area .discount_card {
    padding:15px;
    width: 100%;
    height: 100%;
  }
  .discount_area .discount_card h2 {
    font-size: 28px;
  }
  .discount_area .discount_card p {
    font-size: 14px;
  }
  .discount_area .discount_card h3 {
    font-size: 16px;
  }
  .discount_section .discription h2 {
    font-size: 30px;

}
.discount_area .discount_card >p{
    height: 48px;
    overflow: auto;
}
/* distination  */
.distination_section .discription h1 {
  font-size: 30px;
}
/* review section  */
.footer_middle{
margin-bottom: 80px;
}
.customer_review {
  max-width: 900px;
  width: 82%;
  margin: 15px auto;
  border-radius: 47.647px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 21px 46px 0px rgba(0, 0, 0, 0.1), 0px 83px 83px 0px rgba(0, 0, 0, 0.09),
    0px 187px 112px 0px rgba(0, 0, 0, 0.05),
    0px 333px 133px 0px rgba(0, 0, 0, 0.01),
    0px 520px 146px 0px rgba(0, 0, 0, 0);
  padding: 15px;
  
}
.customer_review .upper_part {
  flex-direction: column;
  gap:10px ;
}
.customer_review .upper_part .customer_image {
  flex-direction: column;
}
.customer_review .upper_part ul {
  display: flex;
  gap: 10px;
}




  /* footer top  */
  .footer_top {
    flex-direction: column;
  }
  .newslatter {
    max-width: 100%;
    width: 100%;
  }
  .footer_botom {
    padding: 32px 0;
  }
  .footer_image .discount {
    width: 220px;
    height: 100px;
  }


}
