@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
.container {
  max-width: 1170px;
  width: 81%;
  margin: 0 auto;
}
/* common css  */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/** header section ***********/

.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h2 {
  text-transform: capitalize;
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.logo img {
  width: 48px;
  height: 56.008px;
  flex-shrink: 0;
}

.header_section .menu {
  width: 55%;
  display: flex;
}
.header_section .menu div {
  display: none;
}
.header_section .menu ul {
  display: flex;
  gap: 44px;
  justify-content: end;
}

.header_section .menu ul li a {
  color:  #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.menu ul li:hover .menu ul li a{
  color: #FF5400;
}
/* banner section  */

.header_banner {
  padding: 106px 0;
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.discription {
  max-width: 676px;
  width: 81%;
  margin: auto;
  text-align: center;
}
.discription h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.discription p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0 48px;
}
.search_palace {
  margin: 0 185px;
  display: flex;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
}

.search_palace .quary {
  border-radius: 8px;
  background: #fff;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  gap: 24px;
  font-weight: 400;
  padding: 0 16px;
}
.search_palace .btn_find {
  background: #ff5400;
}

/* popular tour section  */

.popular_section {
  margin: 100px 0;
}
.popular_tour {
  display: flex;
  justify-content: center;
  gap: 53px;
  justify-content: center;
}
.popular_tour .tour_discription {
  width: 48%;
}
.popular_tour .tour_discription h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.popular_tour .tour_discription * {
  margin-bottom: 24px;
}
.popular_tour .tour_discription p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.popular_tour .tour_discription li {
  list-style: disc;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}

.tour_image {
  width: 48%;
}
.btn_secondary {
  border-radius: 8px;
  background: #ff5400;
  padding: 14px 35px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

/* distination  */
.distination_section {
}
.distination_section .discription h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.distination_section .discription p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0;
}
.beutifull_contry {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.Maldives,
.Indonesia {
  grid-column: span 6;
}
.Srilanka {
  grid-column: span 4;
}
.North_America {
  grid-column: span 5;
}
.Kashmir {
  grid-column: span 3;
}
.Bangladesh {
  grid-column: span 5;
}
.Bandarban {
  grid-column: span 7;
}
.hide {
  display: none;
}

.beutifull_contry > div {
  position: relative;
  color: #fff;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

/* our services  */
.our_services {
  margin: 100px auto;
}

.our_services .discription h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.our_services .discription p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.our_services .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.our_services .services .service {
  width: 48%;
  padding: 32px;
}
.our_services .services .service h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 32px 0 24px;
}
.our_services .services .service p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.our_services .services .service img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.services .service.hotel {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.services .service.map {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.services .service.price {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* footer top  */

.footer_top {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 100px;
}
.newslatter {
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  max-width: 474px;
  width: 81%;
}
.newslatter .newslatter_title {
}
.newslatter .newslatter_title h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.newslatter .newslatter_title p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 16px 0 24px;
  padding-right: 43px;
}
.newslatter hr {
  background: rgba(19, 19, 24, 0.1);
  height: 1px;
  margin: 24px 0;
}

.subscribe input {
  display: block;
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 16px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  outline: none;
  border: none;
}
.subscribe input[type="submit"] {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
.footer_image img {
  height: 100%;
  border-radius: 16px;
}
/* footer bottom  */

.footer_botom {
  padding: 100px 0;
  background: rgba(19, 19, 24, 0.05);
}
.footer_botom .container {
  text-align: center;
}
.footer_botom .discription {
  text-align: center;
}
.footer_botom .discription .logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer_botom .discription p {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.footer_botom .discription ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.footer_botom .discription ul li a {
  color: #000;
  font-size: 33px;
}
.footer_botom hr {
  max-width: 872px;
  width: 81%;
  margin: 50px auto;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
.footer_botom p {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
}
