@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
.container {
  max-width: 1170px;
  width: 81%;
  margin: 0 auto;
}
/* common css  */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/** header section ***********/

.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h2 {
  text-transform: capitalize;
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.logo_name {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
}
.logo img {
  width: 48px;
  height: 56.008px;
  flex-shrink: 0;
}

.header_section .menu {
  width: 55%;
  display: flex;
}
.header_section .menu div {
  display: none;
}
.header_section .menu ul {
  display: flex;
  gap: 44px;
  justify-content: end;
}
.header_section .menu fa-bars {
  width: 16.5px;
  height: 10.5px;
  flex-shrink: 0;
  stroke-width: 1.5px;
  stroke: #131318;
}

.header_section .menu ul li a {
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.menu ul li:hover a {
  color: #ff5400;
}
.header_section .menu ul li:first-child a{
  color: #ff5400;
} 
/* banner section  */

.header_banner {
  padding: 106px 0;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner.png");

  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.discription {
  max-width: 676px;
  width: 81%;
  margin: auto;
  text-align: center;
}
.discription h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.discription p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0 48px;
}
.search_palace form {
  margin: 0 185px;
  display: flex;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
}

.sec-des,
.quary,
.primary_button {
  border-radius: 8px;
  background: #fff;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  gap: 24px;
  font-weight: 400;
  padding: 20px;
  outline: none;
}
.primary_button {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  border: none;
}

/* popular tour section  */

.popular_section {
  margin: 100px 0;
}
.popular_tour {
  display: flex;
  justify-content: center;
  gap: 53px;
  justify-content: center;
}
.popular_tour .tour_discription {
  width: 48%;
}
.popular_tour .tour_discription h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.popular_tour .tour_discription * {
  margin-bottom: 24px;
}
.popular_tour .tour_discription p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.popular_tour .tour_discription ul {
  margin: 0 24px;
}
.popular_tour .tour_discription li {
  list-style: disc;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}

.tour_image {
  width: 48%;
}
.btn_secondary {
  border-radius: 8px;
  background: #ff5400;
  padding: 14px 35px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

/* distination  */
.distination_section {
}
.distination_section .discription h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.distination_section .discription p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0;
}
.beutifull_contry {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.Maldives,
.Indonesia {
  grid-column: span 6;
}
.Srilanka {
  grid-column: span 4;
}
.North_America {
  grid-column: span 5;
}
.Kashmir {
  grid-column: span 3;
}
.Bangladesh {
  grid-column: span 5;
}
.Bandarban {
  grid-column: span 7;
}
.hide {
  display: none;
}

.beutifull_contry > div {
  position: relative;
  color: #fff;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

/* our services  */
.our_services {
  margin: 100px auto;
}

.our_services > .discription h2 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.our_services .discription p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.our_services .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.our_services .services .service {
  width: 48%;
  padding: 32px;
}
.our_services .services .service h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 32px 0 24px;
}
.our_services .services .service p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.our_services .services .service img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.services .service.hotel {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.services .service.map {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.services .service.price {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
/* discount_section  */
.discount_section > * {
  margin-bottom: 24px;
}
.discount_area {
  display: flex;
  padding: 56px;
  justify-content: end;
}
.discount_area .discount_card {
  width: 579px;
  height: 389px;
  flex-shrink: 0;
  padding: 50px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.discount_area .discount_card * {
  margin-bottom: 16px;
}
.discount_area .discount_card .top {
  display: flex;
  justify-content: start;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
}
.discount_area .discount_card .top p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.discount_area .discount_card .top .fa-solid {
  color: #ff5400;
}
.discount_area .discount_card h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.discount_area .discount_card p {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
}
.discount_area .discount_card h3 {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
}
/* discount area1  */
.discount_area1 {
  border-radius: 16px;
  background: url("../Images/Group\ 39.png"), lightgray 50% / cover no-repeat;
}

/* discount_area2 */
#discount_area2 {
  border-radius: 16px;
  background: url("../Images/Group\ 39.png"), lightgray 50% / cover no-repeat;
  justify-content: flex-start;
}
/* discount_area3 */
.discount_area3 {
  border-radius: 16px;
  background: url("../Images/Group\ 39.png"), lightgray 50% / cover no-repeat;
  justify-content: end;
}
/* footer top  */

.footer_top {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 100px;
}
.newslatter {
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  max-width: 474px;
  width: 81%;
}
.newslatter .newslatter_title {
}
.newslatter .newslatter_title h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.newslatter .newslatter_title p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 16px 0 24px;
  padding-right: 43px;
}
.newslatter hr {
  background: rgba(19, 19, 24, 0.1);
  height: 1px;
  margin: 24px 0;
}

.subscribe input {
  display: block;
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 16px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  outline: none;
  border: none;
}
.subscribe input[type="submit"] {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
.footer_image {
  position: relative;
}
.footer_image img {
  height: 100%;
  border-radius: 16px;
}

.footer_image .discount {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  border-radius: 16px;
  background: #ff5400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 14%;
  right: 2%;
}
.footer_image .discount h3 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.footer_image .discount h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}

/* footer bottom  */

.footer_botom {
  padding: 100px 0;
  background: rgba(19, 19, 24, 0.05);
}
.footer_botom .container {
  text-align: center;
}
.footer_botom .discription {
  text-align: center;
}
.footer_botom .discription .logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer_botom .discription p {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.footer_botom .discription ul {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.footer_botom .discription ul li a {
  color: #000;
  font-size: 33px;
}
.footer_botom hr {
  max-width: 872px;
  width: 81%;
  margin: 50px auto;
  opacity: 04;
}
.footer_botom p {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
}
/* discount_section  */
.discount_section {
  padding: 56px 0;
}
.discount_section .discription h2 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.discount_section .discription p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.discount_area1 {
  border-radius: 16px;
  background: url("../Images/Group\ 39.png"), lightgray 50% / cover no-repeat;
}

/* review section  */
.customer_review {
  max-width: 900px;
  width: 82%;
  margin: 50px auto;
  border-radius: 47.647px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 21px 46px 0px rgba(0, 0, 0, 0.1), 0px 83px 83px 0px rgba(0, 0, 0, 0.09),
    0px 187px 112px 0px rgba(0, 0, 0, 0.05),
    0px 333px 133px 0px rgba(0, 0, 0, 0.01),
    0px 520px 146px 0px rgba(0, 0, 0, 0);
  padding: 50px;
}
.customer_review .upper_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer_review .upper_part .customer_image {
  display: flex;
  gap: 8px;
  align-items: center;
}
.customer_review .upper_part .customer_image .image {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.customer_review .upper_part .customer_image img {
  border-radius: 50%;
}
.customer_review .upper_part ul {
  display: flex;
  gap: 10px;
}
.customer_review .upper_part ul li .fa-regular {
  color: #ffac33;
  font-size: 30px;
}
.lower_part {
  padding-top: 30px;
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}
.lower_part p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
}
.dot {
  display: flex;
  justify-content: center;
}
.dot h6 {
  font-size: 40px;
  margin-top: 20px;
  opacity: 0.4;
}
